<h1>List A Space</h1>
<form method="post" action="/spaces">
<label for="name">Name</label>
<input type="text" placeholder="Keep it snappy" name="name">
<br>
<label for="description">Description</label>
<textarea id="description" name="description" placeholder="It's a lovely place..." required></textarea>
<br>
<label for="price">Price</label>
<input type="text" placeholder="£" name="price">
<br>
<label for="available_start_date">Available start date</label>
<input type="date" name="available_start_date">
<br>
<label for="available_end_date">Available end date</label>

<input type="date" name="available_end_date">
<input type="submit" name="submit" value="submit">
</form>
