<!DOCTYPE html>
<html>
<style>
body {
  background: url(/imgs/apartment_a.jpg) no-repeat;
  background-size: cover;
  background-color: #fcfaef;
}

</style>
<h1 class="homepage">Welcome to Makers BnB</h1>
<h4 class="homepage">Book unique homes and experience a city like a local, and make new friends etc.</h4>
</html>
